# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files


#Frontend //////////////

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo


#Backend //////////////

# Django
*.pyc
*.pyo
__pycache__/
*.sqlite3
db.sqlite3
media/
staticfiles/
env/
venv/
*.log

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Django environment files
.env
.env.*

# PyCharm
.idea/

# VS Code
.vscode/

# Pipenv
Pipfile
Pipfile.lock

# MySQL/PostgreSQL
*.pid
*.dump
