# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# //////////////

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Backend //////////////

# Django (zbackend klasörü için güncellendi)
zbackend/*.pyc
zbackend/*.pyo
zbackend/__pycache__/
zbackend/*.sqlite3
zbackend/db.sqlite3
zbackend/media/
zbackend/staticfiles/
zbackend/env/
zbackend/venv/
zbackend/*.log

# Django migrations (zbackend için özel olarak düzenlendi)
zbackend/migrations/
!zbackend/migrations/__init__.py

# Django environment files
zbackend/.env
zbackend/.env.*

# PyCharm
.idea/

# VS Code
.vscode/

# Pipenv
Pipfile
Pipfile.lock

# MySQL/PostgreSQL
*.pid
*.dump
